:root {
    --min-max-viewport-width: 99vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    min-width: var(--min-max-viewport-width);
    max-width: var(--min-max-viewport-width);
}

.main > input {
    padding: 0.2rem;
    line-height: 2rem;
    font-size: medium;
    width: 100%;
}

.main > .image-list {
    width: 100%;
}

img {
    max-width: 100%;
    object-fit: scale-down;
}

/*@media (min-width: 25rem) {*/
/*    .main > input {*/
/*        max-width: 25rem;*/
/*        min-width: 25rem;*/
/*    }*/

/*    .main > .image-list {*/
/*        max-width: 25rem;*/
/*        min-width: 25rem;*/
/*    }*/
/*}*/

/*@media (min-width: 50rem) {*/
/*    .main > input {*/
/*        max-width: 50rem;*/
/*        min-width: 50rem;*/
/*    }*/

/*    .main > .image-list {*/
/*        max-width: 50rem;*/
/*        min-width: 50rem;*/
/*    }*/
/*}*/

/*@media (min-width: 75rem) {*/
/*    .main > input {*/
/*        max-width: 75rem;*/
/*        min-width: 75rem;*/
/*    }*/

/*    .main > .image-list {*/
/*        max-width: 75rem;*/
/*        min-width: 75rem;*/
/*    }*/
/*}*/